

.wrapper{
  padding: 24px;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  min-width: 600px;
  margin:10px
 
}
.date{
  font-weight: 700;
}
.text{
  margin-top:0px;
  padding-top: 5px;
}